ody{
    size: 100%;
}
/*ani.header*/
/*ani.header*/
.col-md-11
{
  margin-left: -0.8%;
}
.main-header{
  background: linear-gradient(0deg,#888,rgb(223, 204, 204));
  position: fixed;
  z-index: 10000;
  width: 100%;
  
}

.main-header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  height: 130px;
}
.main-header .container .thelogo{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.main-header .logo img{
  width: 100%;
  vertical-align: middle;
}

.main-header .main-nav{
  margin: auto;
  display: flex;
}

.main-header .main-nav a{
  text-decoration: none;
  color: #fff;
  padding: 5px 1em;
  position: relative;
  margin-top: -60px;
  transform: translateY(0px);
  transition: .3s;
  font-size: 26px;
  font-family: "微軟正黑體";
  font-weight: bold;
  
}
.main-header .main-nav a:nth-child(5){
    margin-left: 150px;
  }

.main-header .main-nav a:hover{
  transform: translateY(-10px);
}

.main-header .main-nav a:after{
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 15px;
  height: 0;
  border-bottom: 1px solid #fff;
  transition: .3s;
}
body
{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header .main-nav a:hover:after{
  left: 0;
  right: 0;
}
.col-md-12 label
{
    font-size: 20px;
    margin-left: 5px;
    font-family: "微軟正黑體";
    margin-right: 30px;
    font-weight: bold;

}
.col-md-12 input
{
    margin-left: 15px;
    margin-right: 15px;
}
.col-md-12 p
{
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
    margin-top: 15px;   
}
.container2>.rows>.col-md-12
{
    height: 2800px;/*長度不夠調這裡*/
    background-color: rgba(72, 73, 63, 0.377);
    margin-top: 160px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.pic a img/*這裡是房子圖片*/
{
    margin-left: 50px;
    margin-top: 20px;
    position: relative;
    width: 250px;
    height: 250px;
}
.pic  img/*這裡是字旁邊的小圖片*/
{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.pic /*這裡是字旁邊的小圖片包起來的那串文字*/
{
    font-size: 18px;
    font-family: "微軟正黑體";
    font-weight: bold;
    color: black;
    margin-left: 5px;
    height: 300px;
   
}
.pic>.word /*房子圖片旁邊的文字*/
{
    font-size: 20px;
    font-family: "微軟正黑體";
    font-weight: bold;
    color: black;
    margin-left: 330px;
    margin-top: -100px;
   
}
.box{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 20px;
    margin-left: 1600px;
}

footer
{
    width: 100%;
    height: 150px;
    background-color: rgba(109, 116, 99, 0.63);
    margin-top: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: "Lucida Fax";
    font-weight: bold;
}.col-md-4>.map
{
    float: center;
    
    margin-top: 30px;
    border-radius: 20px;
    
    
}

